body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  Margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  clear: both;
  display: block; }

center {
  width: 100%;
  min-width: 680px; }

a img {
  border: none; }

p {
  margin: 0 0 0 10px;
  Margin: 0 0 0 10px; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important; }

table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left; }

@media only screen {
  html {
    min-height: 100%;
    background: #F0F0F0; } }

table.body {
  background: #F0F0F0;
  height: 100%;
  width: 100%; }

table.container {
  background: #fefefe;
  width: 680px;
  margin: 0 auto;
  Margin: 0 auto;
  text-align: inherit; }

table.row {
  padding: 0;
  width: 100%;
  position: relative; }

table.spacer {
  width: 100%; }
  table.spacer td {
    mso-line-height-rule: exactly; }

table.container table.row {
  display: table; }

th.columns {
  margin: 0 auto;
  Margin: 0 auto;
  padding-left: 16px;
  padding-bottom: 0; }
  th.columns .columns {
    padding-left: 0 !important;
    padding-right: 0 !important; }

th.columns.last {
  padding-right: 16px; }

th.columns table:not(.button) {
  width: 100%; }

th.large-1 {
  width: 40.66667px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-1.first {
  padding-left: 16px; }

th.large-1.last {
  padding-right: 16px; }

.body .columns th.large-1 {
  width: 8.33333%; }

th.large-2 {
  width: 97.33333px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-2.last {
  padding-right: 16px; }

th.large-3 {
  width: 154px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-3.first {
  padding-left: 16px; }

th.large-3.last {
  padding-right: 16px; }

th.large-4 {
  width: 210.66667px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-4.first {
  padding-left: 16px; }

th.large-4.last {
  padding-right: 16px; }

.body .columns th.large-4 {
  width: 33.33333%; }

th.large-6 {
  width: 324px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-6.first {
  padding-left: 16px; }

th.large-6.last {
  padding-right: 16px; }

.body .columns th.large-6 {
  width: 50%; }

th.large-7 {
  width: 380.66667px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-7.first {
  padding-left: 16px; }

.body .columns th.large-7 {
  width: 58.33333%; }

th.large-8 {
  width: 437.33333px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-8.last {
  padding-right: 16px; }

th.large-9 {
  width: 494px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-9.last {
  padding-right: 16px; }

th.large-10 {
  width: 550.66667px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-10.first {
  padding-left: 16px; }

th.large-12 {
  width: 664px;
  padding-left: 8px;
  padding-right: 8px; }

th.large-12.first {
  padding-left: 16px; }

th.large-12.last {
  padding-right: 16px; }

.body .columns th.large-12 {
  width: 100%; }

th.expander {
  visibility: hidden;
  width: 0;
  padding: 0 !important; }

h2.text-center,
p.text-center {
  text-align: center; }

th.text-right {
  text-align: right; }

@media only screen and (max-width: 696px) {
  .small-float-center {
    margin: 0 auto !important;
    float: none !important;
    text-align: center !important; }
  .small-text-right {
    text-align: right !important; } }

img.float-right {
  float: right;
  text-align: right; }

table.float-center {
  margin: 0 auto;
  Margin: 0 auto;
  float: none;
  text-align: center; }

.hide-for-large {
  display: none !important;
  mso-hide: all;
  overflow: hidden;
  max-height: 0;
  font-size: 0;
  width: 0;
  line-height: 0; }
  @media only screen and (max-width: 696px) {
    .hide-for-large {
      display: block !important;
      width: auto !important;
      overflow: visible !important;
      max-height: none !important;
      font-size: inherit !important;
      line-height: inherit !important; } }

table.body table.container .hide-for-large * {
  mso-hide: all; }

@media only screen and (max-width: 696px) {
  table.body table.container .hide-for-large {
    display: table !important;
    width: 100% !important; } }

@media only screen and (max-width: 696px) {
  table.body table.container .show-for-large {
    display: none !important;
    width: 0;
    mso-hide: all;
    overflow: hidden; } }

body,
table.body,
h1,
h2,
p,
td,
th,
a {
  color: #0a0a0a;
  font-family: Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  Margin: 0;
  text-align: left;
  line-height: 1.3; }

h1,
h2 {
  color: inherit;
  word-wrap: normal;
  font-family: Arial, sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  Margin-bottom: 10px; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 30px; }

body,
table.body,
p,
td,
th {
  font-size: 16px;
  line-height: 1.3; }

p {
  margin-bottom: 10px;
  Margin-bottom: 10px; }

small {
  font-size: 80%;
  color: #cacaca; }

a {
  color: #006EAA;
  text-decoration: none; }
  a:hover {
    color: #004d77; }
  a:active {
    color: #004d77; }
  a:visited {
    color: #006EAA; }

h1 a,
h1 a:visited {
  color: #006EAA; }

span.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all !important;
  font-size: 1px;
  color: #F0F0F0;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

@media only screen and (max-width: 696px) {
  table.body img {
    width: auto;
    height: auto; }
  table.body center {
    min-width: 0 !important; }
  table.body .container {
    width: 95% !important; }
  table.body .columns {
    height: auto !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px !important;
    padding-right: 16px !important; }
    table.body .columns .columns {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  th.small-3 {
    display: inline-block !important;
    width: 25% !important; }
  th.small-6 {
    display: inline-block !important;
    width: 50% !important; }
  th.small-12 {
    display: inline-block !important;
    width: 100% !important; }
  .columns th.small-12 {
    display: block !important;
    width: 100% !important; } }

body,
html,
.body {
  background: #f3f3f3 !important; }

.header {
  background: #8a8a8a; }

.header .columns {
  padding-bottom: 0; }

/* Pulso Newsletter Custom Styles */
.header {
  background-color: #fff; }
  .header .inner-header {
    padding-top: 40px;
    padding-bottom: 0; }
    .header .inner-header img {
      margin-left: 30px; }

.titulo-destacado {
  padding-top: 28px;
  padding-bottom: 28px; }
  .titulo-destacado h1 {
    padding: 0 22px;
    hyphens: none; }
    .titulo-destacado h1 a {
      color: #1A72AA;
      font-size: 34px;
      font-weight: 700; }
  .titulo-destacado small {
    font-size: 20px;
    text-transform: uppercase;
    color: #666;
    padding: 0 28px; }

.img-destacado {
  padding-left: 0;
  padding-right: 0; }
  .img-destacado img {
    width: 100%; }
  .img-destacado.first.last {
    padding-left: 0;
    padding-right: 0; }

.bajada {
  padding: 42px 64px;
  padding-top: 0; }
  .bajada p {
    margin: 30px 28px;
    hyphens: none; }
    .bajada p a {
      color: #666;
      font-size: 20px; }
    .bajada p a.vermas {
      color: #006EAA;
      font-size: 16px;
      padding: 0; }

.title-eventos {
  background-color: #F7F7F7; }
  .title-eventos h2 {
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    font-size: 22px;
    color: #1A72AA; }

.vermas {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  padding: 25px;
  padding-top: 0; }

.caja-noticia p {
  font-size: 16px;
  padding: 16px;
  height: auto; }
  .caja-noticia p a {
    color: #052A42;
    hyphens: none; }

.caja-noticia.first {
  padding-right: 0; }

.caja-noticia.last {
  padding-left: 0; }

.caja-noticia.central {
  padding-right: 0;
  padding-left: 0; }

.caja-evento {
  background-color: #1A72AA;
  padding: 20px; }
  .caja-evento.reverse {
    background-color: #B3D0E3; }
  .caja-evento a {
    color: #FFF;
    padding: 20px 0;
    display: block;
    height: 125px;
    hyphens: none; }
  .caja-evento .icono {
    display: inline-block; }
    .caja-evento .icono img {
      width: 11px;
      margin-right: 5px; }
  .caja-evento .fecha, .caja-evento .hora, .caja-evento .lugar {
    color: #FFF; }
  .caja-evento .hora, .caja-evento .lugar {
    font-size: 10px;
    width: 100%; }
  .caja-evento .fecha {
    font-weight: 800;
    display: block;
    width: 100%;
    text-align: right; }
  .caja-evento .footer-caja-evento {
    margin-bottom: 20px; }
  .caja-evento .datos-horario {
    width: 48%;
    display: inline-block; }
  .caja-evento .datos-lugar {
    width: 48%;
    text-align: right;
    display: inline-block; }

.caja-evento:nth-child(2) {
  background-color: #4D91BD; }
  .caja-evento:nth-child(2).reverse {
    background-color: #80B0D0; }

.caja-evento:nth-child(3) {
  background-color: #80B0D0; }
  .caja-evento:nth-child(3).reverse {
    background-color: #4D91BD; }

.caja-evento:nth-child(4) {
  background-color: #B3D0E3; }
  .caja-evento:nth-child(4).reverse {
    background-color: #1A72AA; }

.mensaje-pulso p {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  margin-bottom: 0 !important;
  font-size: 12px;
  padding: 50px 0; }

/* Footer */
.footer {
  background-color: #006EAA; }
  .footer.first.last {
    padding: 34px 49px !important; }
  .footer img {
    max-width: 240px; }
  .footer .acredita {
    max-width: 178px;
    float: right; }

hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px; }

.direcciones {
  color: #FFF;
  font-size: 10px; }
  .direcciones a {
    color: #FFF;
    text-decoration: underline;
    display: block; }
  .direcciones strong {
    display: block;
    font-size: 12px; }

.redes-sociales img {
  float: right; }

@media only screen and (max-width: 696px) {
  table.body img {
    width: 100%; }
  .caja-evento {
    border-bottom: 1px solid #FFF; }
    .caja-evento .hora, .caja-evento .fecha, .caja-evento .lugar, .caja-evento .icono {
      display: inline-block;
      width: auto; }
    .caja-evento a {
      margin-bottom: 20px;
      height: auto !important; }
    .caja-evento .fecha {
      width: 100%;
      text-align: right; }
    .caja-evento .hora, .caja-evento .lugar {
      width: auto !important; }
  .caja-noticia p {
    padding: 0 !important;
    padding-top: 16px !important;
    height: auto !important; }
  .caja-noticia a {
    height: auto;
    padding-bottom: 0;
    padding-left: 0 !important; }
  .caja-noticia img {
    width: 100% !important; }
  .cont-30 img {
    display: none; }
  .header .inner-header img {
    margin-left: 0; }
  .footer .acredita {
    float: none; }
  .direcciones {
    margin-left: 20px; }
  .icon-img {
    max-width: 100%;
    width: auto !important; } }
